body {
    background-color: #0d0b16;
    color: #ffffff;
    font-family: 'Courier New', monospace;
}

h1, h2 {
    color: #ffffff;
    margin-top: 25px;
}

.btn-primary {
    background-color: #483081;
    border-color: #22123f;
    color: white;
}
.btn-primary:hover {
    background-color: #22123f;
    border-color: #483081;
}

.btn-reset {
    background-color: #276894 !important;
    border-color: #44dbef !important;
    color: white !important;
}

.btn-reset:hover {
    background-color: #44dbef !important;
    border-color: #276894 !important;
    color: white !important;
}

.section-box {
    background-color: #1a1528;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 12px rgba(139, 92, 246, 0.25);
}

input {
    background-color: #2a213d !important;
    color: white !important;
    border: 1px solid #4c3a75 !important;
}

input::placeholder {
    color: #c4b5fd !important;
}

.modal-content {
    background-color: #1a1528;
    color: white;
}
.modal-header {
    border-bottom: 1px solid #4c3a75;
}
.modal-footer {
    border-top: 1px solid #4c3a75;
}

.btn-close-white {
    filter: invert(1);
}

.main-container {
    width: 600px; 
    margin: 0 auto; 
    text-align: center; 
}

button.btn {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

input.form-control {
    width: 100% !important;
    max-width: 500px;
    margin-bottom: 10px;
    justify-content: center;
}

.search-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-footer {
    display: flex !important;
    justify-content: center !important;
    gap: 20px !important;
}

input::placeholder {
    text-align: center;
}